<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Check domain</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Check domain" />
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<hr>
<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Create short URL</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Create short URL" />
  </div>
  <button type="submit" class="btn btn-success">Submit</button>
</form>